<!DOCTYPE html>
<html lang="id">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Buat istri aku yang paling cantik❤️</title>

    <link rel="stylesheet" href="/css/style.css">
</head>
<body>

    <section id="password-screen" class="screen">

        <div class="card">

            <div class="heart">❤️</div>

            <h1>Aku punya surprise buat kamu...</h1>

            <p class="subtitle">
                Tapi..., jawab pertanyaan ini dulu yaa
            </p>

            <p class="clue">
                Hari dimana semuanya kita ulang lagi dari awal,
                dan kita berhasil jalanin sampai hari ini ❤️
            </p>

            <div class="otp-container">

                <input type="text" inputmode="numeric" pattern="[0-9]*" maxlength="1" class="otp-input">
                <input type="text" inputmode="numeric" pattern="[0-9]*" maxlength="1" class="otp-input">
                <input type="text" inputmode="numeric" pattern="[0-9]*" maxlength="1" class="otp-input">
                <input type="text" inputmode="numeric" pattern="[0-9]*" maxlength="1" class="otp-input">
                <input type="text" inputmode="numeric" pattern="[0-9]*" maxlength="1" class="otp-input">
                <input type="text" inputmode="numeric" pattern="[0-9]*" maxlength="1" class="otp-input">
                <input type="text" inputmode="numeric" pattern="[0-9]*" maxlength="1" class="otp-input">
                <input type="text" inputmode="numeric" pattern="[0-9]*" maxlength="1" class="otp-input">

            </div>

            <p id="error-message"></p>

        </div>

    </section>

    <section id="choice-screen" class="secret hidden">
        <div class="card">
            <div class="heart">❤️</div>
            <h1>Cieee bisa bukanya</h1>
            <p>
                Aku yakin kamu pasti inget
            </p>
            <p>
                Sekarang aku juga nyiapin sesuatu nih buat kamu
            </p>
            <p>
                Mau liat gaa?
            </p>
            <div class="choice-buttons">
                <button id="yes-btn">
                    Mau ❤️
                </button>
                <button id="no-btn">
                    Nggak Ah 🙄
                </button>
            </div>
            <p id="no-message"></p>
        </div>
    </section>

    <section id="story-screen" class="screen hidden">
        <div class="card">
            <div id="story-content"></div>
        </div>
    </section>

    <script src="/js/app.js"></script>

</body>
</html>