<!DOCTYPE html>
<html lang="id">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Buat istri aku yang paling cantik❤️</title>

    <link rel="stylesheet" href="/css/style.css">
</head>
<body>

    <section id="password-screen" class="screen">

        <div class="card">

            <div class="heart">❤️</div>

            <h1>Aku punya surprise buat kamu...</h1>

            <p class="subtitle">
                Tapi..., jawab pertanyaan ini dulu yaa
            </p>

            <p class="clue">
                Hari dimana semuanya kita ulang lagi dari awal,
                dan kita berhasil jalanin sampai hari ini ❤️
            </p>

            <input
                type="password"
                id="password-input"
                placeholder="Masukkan jawaban..."
            >

            <button id="submit-btn">
                Buka Ceritanya
            </button>

            <p id="error-message"></p>

        </div>

    </section>

    <script src="/js/app.js"></script>

</body>
</html>